<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InfoVis VU 2026</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.0/topojson.min.js"></script>
    <script src="{{url_for('static',filename='js/map.js')}}"></script>
    <script src="{{url_for('static',filename='js/scatterplot.js')}}"></script>
    <script src="{{url_for('static',filename='js/lineplot.js')}}"></script>

</head>
<body>

<h1>InfoVis VU 2026 - Exercise 2</h1>
<p>Tanja Matura - 01307001  Simon Guryca - 12112607 Ece Pekmezci - 12552155</p>


<div id="main_container" class="main_container">
    <div class="container_l">
        <svg id="svg_map"></svg>
    </div>
    <div class="container_r">
        <p></p>
        <svg id="svg_plot"></svg>
    </div>
</div>

<div id="dropdown_div" class="dd_container">
    <label>Indicator:</label>
    <select id="indicator_change" class="dropdown"></select>

    <span class="year_container">
        <label>Year:</label>
        <span id="year_label">2020</span>
        <input
            type="range"
            id="year_slider"
            min="1960"
            max="2020"
            value="2020"
            step="1"
        >
    </span>
</div>
        
      
<div id="svg_line_plot" class="svg_line_plot">

</div>


<script>
    let data = {{ data | safe }};
    let pcaData = {{ pca_data | safe }};
    let explained = {{ explained | safe }};
    let selectedCountries = [];
    
    let selectedCountry = null;

    function selectCountry(countryName) {
       selectedCountry = countryName;
       updateLineplot();
    }
    
    
    console.log("PCA sample:", pcaData[0]);
    console.log("Explained variance:", explained);
    initMap();
    initScatterplot(pcaData);
    initLineplot();
</script>





</body>
</html>
